{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tangana</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/tangana.css' %}" />
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'js/tangana.js' %}"></script>
</head>
<body>

<div class="header">
	<div class="wrap">
		<h1><a href="/">TANGANA</a></h1>
		<div class="menu">
			<ul>
				{% if user.is_authenticated %}
					<li><a href="/user/{{ request.user.username }}"><strong>{{ request.user.username }}</strong></a></li>
					<li><a href="/settings">Ajustes</a></li>
					<li><a href="/logout">Logout</a></li>
				{% else %}
					<li><a href="/login">Login</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
	
<div class="content">
{% block content %}{% endblock %}
</div>
	
<div class="footer">
	<p>Tangana @ 2015</p>
</div>

</body>
</html>