{% load staticfiles %}
<div class="comment" id="comment-{{ comment.id }}">
	<div class="comment-avatar">
		<a href="#"><img src="{% static 'img/goku.jpg' %}" width="50" height="50" /></a>
	</div>
	
	<div class="comment-header">
		<div class="comment-username">
			<a href="#">sonGoku187</a>
		</div>
		<div class="comment-date">
			<a href="/comment/{{ comment.id }}">Ayer a las 17:34</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="comment-content">
		<p>{{ comment.content }}</p>
	</div>
	
	<div class="comment-footer">
		<div class="comment-votes">
			{% if comment.already_voted %}
				<span class="vote-down"><i class="fa fa-circle"></i> {{ comment.votes }}</span>
			{% else %}
				<a href="#" class="vote-up" data-comment-id="{{ comment.id }}"><i class="fa fa-arrow-circle-up"></i></a>
				<a href="#" class="vote-down" data-comment-id="{{ comment.id }}"><i class="fa fa-arrow-circle-down"></i></a>
			{% endif %}
		</div>
		<div class="comment-replies">
			{% if comment.replies > 0 %}
			<a href="#" class="view-replies" data-comment-id="{{ comment.id }}">
				<i class="fa fa-chevron-down"></i>
				<span>{{ comment.replies }}</span>
			</a>
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
</div>