<div class="f">
<div class="score">
	<div class="wrap">
		<div class="score-logo"><img src="/static/img/logos/{{ match.home.id }}.png" alt="{{ match.home.name }}" /></div>
		<div class="score-team">{{ match.home.name }}</div>
		<div class="score-num">{{ match.home_score }}</div>
		<div class="score-num">{{ match.away_score }}</div>
		<div class="score-team">{{ match.away.name }}</div>
		<div class="score-logo"><img src="/static/img/logos/{{ match.away.id }}.png" alt="{{ match.away.name }}" /></div>
		<div class="score-date">Domingo, 4 Oct 20:30</div>
		<div class="clear"></div>
	</div>
</div>
</div>