<div class="score">
	<div class="wrap">
		<div class="score-logo"><img src="/static/img/logos/{{ match.home.id }}.png" width="100" height="100" /></div>
		<div class="score-team">{{ match.home.name }}</div>
		<div class="score-num" style="background:#404040;">{{ match.home_score }}</div>
		<div class="score-date">DOM 20:30</div>
		<div class="score-num" style="background:#2e2e2e;">{{ match.away_score }}</div>
		<div class="score-team">{{ match.away.name }}</div>
		<div class="score-logo"><img src="/static/img/logos/{{ match.away.id }}.png" width="100" height="100" /></div>
	</div>
</div>