/*
 * red     #e74c3c | #c0392b
 * orange  #e67e22 | #d35400
 * yellow  #f1c40f | #f39c12
 * green   #2ecc71 | #27ae60
 * green2  #1abc9c | #16a085
 * blue    #3498db | #2980b9
 * purple  #9b59b6 | #8e44ad
 * gray    #ecf0f1 | #bdc3c7
 * gray2   #95a5a6 | #7f8c8d
 * navy    #34495e | #2c3e50
 *
 */
html,body,h1,h2,h3,p,ul,li,form,input,textarea,button,select {margin:0;padding:0;}
body {font-family:arial,helvetica,sans-serif;font-size:13px;}
a {color:#08C;}
a:active, button:active {opacity:0.6}
.clear {clear:both;}
.wrap {max-width:600px;margin:0 auto;}

.header {background:#27ae60;padding:8px 15px;}
.header a {text-decoration:none;color:white;font-size:26px;float:left;}

.menu {float:right}
.menu ul {list-style:none}
.menu li {float:left;}
.menu li a {float:left;display:block;font-size:14px;margin-left:20px;}
.menu li a:hover {text-decoration:underline}

.score {background:#f2f2f2;color:#000;padding:20px;position:relative;margin-bottom:20px}
.score:after {clear:both;display:table;content:"";}
.score-logo {float:left;width:15%;text-align:center;}
.score-team {float:left;width:25%;font-size:22px;text-align:center;}
.score-num {color:#fff;float:left;width:10%;font-size:52px;text-align:center;}
.score-date {position:absolute;width:200px;text-align:center;left:300px;bottom:30px;}

.comment {padding:12px;position:relative;background:#FFF;border:1px solid #ecf0f1;margin-bottom:12px;}
.comment-avatar {position:absolute;width:62px;}
.comment-avatar img {border-radius:4px;}
.comment-header {margin-left:62px;margin-bottom:10px;}
.comment-footer {margin-left:62px;margin-top:10px;}
.comment-username a {display:block;float:left;font-weight:bold;color:#333;font-size:14px;text-decoration:none}
.comment-username a:hover {text-decoration:underline}
.comment-date a {display:block;float:right;color:#999;text-decoration:none}
.comment-date a:hover {text-decoration:underline}
.comment-content:before {clear:both;display:table;content:"";}
.comment-content {margin-left:62px;}
.comment-content p {font-size:15px;line-height:1.4em;}
.comment-votes {float:left;font-size:14px;}
.comment-votes a {text-decoration:none;}
.comment-replies {float:right;font-size:14px;}
.comment-replies a {text-decoration:none;}

.vote-up {color:#2ecc71;}
.vote-down {color:#e74c3c;}

.row {display:block;}

input,textarea,button,select {
    font-family:arial,sans-serif;
    font-size:14px;
    outline:none;
}

textarea {
    width:500px;
    height:60px;
    border:1px solid #CCC;
    border-radius:4px;
    padding:10px 15px;
    line-height:19px;
}
button {
    background:#27ae60;
    border:none;
    color:white;
    border-radius: 4px;
    padding:10px;
}